@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}


:root {
    --color-brand: #819b57;
    --color-brand-dark: #465929;
    --color-primaryu-dark: #31261a;
    --color-primaryu-light: #faf4ea;
}



/* base */
body {
    color: var(--color-primaryu-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

/* button */
.button {
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    color: var(--color-primaryu-light);
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/* link */
.link {
    color: var(--color-primaryu-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand);
    font-weight: 600;
}

/* hero title */
.hero-title {
    color: var(--color-primaryu-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand);
}

.advantages-list {
    background: var(--color-brand);
    color: var(--color-primaryu-light);
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* traditional text */
.traditional-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

.traditional-text .uppercase {
    text-transform: uppercase;
}

/* chef title */
.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* format title */
.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* footer */
.address-link {
    color: var(--color-primaryu-dark);
    font-size: 16px;
    font-weight: 300;
}

.address-link {
    color: var(--color-brand);
}

.address-copyright {
    font-size: 14px;
}